/*index page*/
html{
    background-color: #f8f8f8;
    font-family:'century gothic','Trebuchet MS';
}
.sub{  
    color:#8f8f8f;
    font-size:16px;
    padding-top:18px;
    padding-left: 16%;
}
.mobileVersion{
    color:#adadad;
    font-size:14px;
    padding-top:10px;
    padding-left: 80%;
}
.des{  
    color:#616161;
    font-size:18px;
    padding-top:10px;
    padding-left: 16%;
    padding-right:16%;
}
.announcementCard{
    background-color: #eeeeee;
    color:#616161;
    font-size: 17px;
    padding-top:15px;
    padding-bottom:15px;
    padding-left: 2%;
    padding-right:2%;
    margin-bottom:18px;
    margin-left:16%;
    margin-right:16%;
}
.annTitle{
    background-color: #eeeeee;
    color:#080808;
    font-size:19px;
}
.event{
    color:#363636;
    font-size:19px;
    padding-top:10px;
    padding-left: 16%;
    padding-right:16%;
}
.eventLink{ 
    color:#616161;
    font-size:17px;
}
.eventLink:hover{
    color:#838383;
    font-size:17px;
}
.linkToPhone{
    color:#8f8f8f;
    font-size:16px;
    padding-top:18px;
    padding-left: 16%;
    text-decoration:underline; 
}
.linkToPhone:hover{
    color:#a8a8a8;
    font-size:16px;
    padding-top:18px;
    padding-left: 16%;
    text-decoration:underline; 
}
.linkToPhone:visited{
    color:#8f8f8f;
    font-size:16px;
    padding-top:18px;
    padding-left: 16%;
    text-decoration:underline; 
}
/*Calendar*/
.calendar{
    margin-left:12%;
    margin-right:12%;
    margin-top:5%;
    margin-bottom:10%;
}


/*Material Page*/
.material{
    color:#080808;
    font-size:20px;

    padding-top:10px;
    padding-left: 16%;
    padding-right:16%;
}
#materialDes{
    font-size:17px;
    color:#949494;
}
#classroomLink{
    font-size:17px;
    color:#8b8b8b;
}
#classroomLink:hover{
    font-size:17px;
    color:#afafaf;
}
.link{
    font-size:17px;
    color:#616161;
}
.link:hover{
    font-size:17px;
    color:#949494;
}

/*challenges page*/
.questionCard{
    background-color: #eeeeee;
    color:#616161;
    font-size: 17px;
    padding-top:15px;
    padding-bottom:15px;
    padding-left: 2%;
    padding-right:2%;
    margin-bottom:18px;
    margin-left:16%;
    margin-right:16%;
}

.quesTitle{
    background-color: #eeeeee;
    color:#080808;
    font-size:20px;
}

.quesSource{
    background-color: #eeeeee;
    color:#949494;
    font-size:14px;
}

.quesSource:hover{
    background-color: #eeeeee;
    color:#acacac;
    font-size:14px;
}
.webdesignCom{
    background-color:#173140;   
}
.webdesignComSignUp{
    font-size:300%;
    color:#e6e6e6;
    background-color:#173140;
    margin-left:24%;    
}
.webdesignComSignUp:hover{
    font-size:300%;
    color:#a5a5a5;
    background-color:#173140;
    margin-left:24%;    
}

.phone{
    background-color: white;
}
.phoneHeader{
    color:#040716;
    font-family:'Times New Roman', Times, serif;
    font-size:80px;
    margin-left:22px;
}
.phoneSub{
    color:#2d3953;
    font-family:'Times New Roman', Times, serif;
    font-size:48px;
    margin-left:10px;
}
.phoneDes{
    color:#141e35;
    font-family:'Times New Roman', Times, serif;
    font-size:55px;
    margin-left:25px;
    margin-right:25px;
}
.phoneSignUp{
    background-color:#eeeeee;
    color:#070e1f;
    font-family:'Times New Roman', Times, serif;
    font-size:60px;
    margin-left:35%;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom: 10px;
}
.phoneSignUp:hover{
    background-color:#eeeeee;
    color:#0d162c;
    font-family:'Times New Roman', Times, serif;
    font-size:60px;
    margin-left:35%;
    padding-left:10px;
    padding-right:10px;
    text-decoration:none;
    padding-top:10px;
    padding-bottom: 10px;
}
.phoneSignUp:visited{
    background-color:#eeeeee;
    color:#070e1f;
    font-family:'Times New Roman', Times, serif;
    font-size:60px;
    margin-left:35%;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom: 10px;
    text-decoration:none;
}
.phoneAnnouncementCard{
    font-family:'Times New Roman', Times, serif;
    background-color: #eeeeee;
    color:#4e4b53;
    font-size: 50px;
    padding-top:15px;
    padding-bottom:15px;
    padding-left: 2%;
    padding-right:2%;
    margin-bottom:18px;
    margin-left:10%;
    margin-right:10%;
}
.phoneAnnTitle{
    font-family:'Times New Roman', Times, serif;
    background-color: #eeeeee;
    color:#1d1f25;
    font-size:55px;
}
.phoneEvent{
    font-family:'Times New Roman', Times, serif;
    color:#19171b;
    font-size:55px;
    padding-top:10px;
    padding-left: 10%;
    padding-right:10%;
}
.phoneEventLink{ 
    font-family:'Times New Roman', Times, serif;
    color:#1d1c20;
    font-size:50px;
}
.phoneEventLink:hover{
    font-family:'Times New Roman', Times, serif;
    color:#3f3f41;
    font-size:50px;
}

.phoneBackLink{
    font-family:'Times New Roman', Times, serif;
    color:#36363a;
    font-size:44px;
    margin-left:10px;
    text-decoration: underline;
}
.phoneBackLink:hover{
    font-family:'Times New Roman', Times, serif;
    color:#5f5f63;
    font-size:44px;
    margin-left:10px;
}

